<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.course_system.mapper.UserOnboardingProfileMapper">

    <select id="selectByUserId" resultType="com.sy.course_system.entity.UserOnboardingProfile">
        SELECT id, user_id, current_level, learning_goal, onboarding_status, create_time, update_time
        FROM user_onboarding_profile
        WHERE user_id = #{userId}
        LIMIT 1
    </select>
</mapper>
