<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.course_system.mapper.KnowledgePointMapper">


    <!-- listEnabledKnowledgePointOptionsByIds --> 

    <select id="listEnabledKnowledgePointOptionsByIds">
        SELECT
            kp.id AS id,
            kp.name AS name,
            kp.difficulty AS difficulty,
            kp.dimension_id AS dimensionId,
            kd.name AS dimensionName
        FROM
            knowledge_point kp
            LEFT JOIN knowledge_dimension kd ON kp.dimension_id = kd.id
        WHERE
            kp.status = 1
            AND kp.id IN
                <foreach collection="kpIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
        ORDER BY kd.sort, kd.name, kp.difficulty, kp.name
    </select>    
</mapper>